// Brand
$brand = #2E4259

// Colorful
$purple = #9C27B0
$pink = #E91E63
$red = #FF3C00
$orange = #FF9800
$yellow = #FFEB3B
$green = #BBC34A

// Neutral
$white = #FFFFFF
$grayLighter = #EEEEEE
$grayLight = #D9D9D9
$gray = #A6A6A6
$grayDark = #808080
$grayDarker = #383838
$black = #000000
