/*===================
@name:应用层
@use:网页具体部件样式
@author:Sune
@email:sune@yileit.com
@date:2014-07-20
===================*/
/*SInitGlobal*/

html,
body {
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
  width: 100%;
  height: 100%;
}
/*E*/
/*Sload*/

.loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.loader-top {
  height: 50%;
  width: 100%;
  position: absolute;
  background: #c9c9c9;
}

.loader-bottom {
  height: 50%;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #c9c9c9;
}

.loader .inner {
  background: #2d2d2d;
  position: relative;
  top: 49%;
  left: 0;
  width: 0;
  height: 3px;
  -webkit-transition: width 900ms ease;
  -moz-transition: width 900ms ease;
  transition: width 900ms ease;
  -webkit-animation: init-loader 20s;
  -moz-animation: init-loader 20s;
  animation: init-loader 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loader .animal {
  background: url(../images/load/animal.gif) no-repeat right top;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -67px;
  margin-left: -128px;
  width: 128px;
  height: 64px;
  -webkit-transition: left 1300ms ease-in;
  -moz-transition: left 1300ms ease-in;
  transition: left 1300ms ease-in;
  -webkit-animation: animal-loader 20s;
  -moz-animation: animal-loader 20s;
  animation: animal-loader 20s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loader.ready .inner,
.loader.ready .animal {
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes init-loader {
  0% {
    width: 0%
  }
  100% {
    width: 110%
  }
}

@-moz-keyframes init-loader {
  0% {
    width: 0%
  }
  100% {
    width: 110%
  }
}

@keyframes init-loader {
  0% {
    width: 0%
  }
  100% {
    width: 110%
  }
}

@-webkit-keyframes animal-loader {
  0% {
    left: 0%
  }
  100% {
    left: 110%
  }
}

@-moz-keyframes animal-loader {
  0% {
    left: 0%
  }
  100% {
    left: 110%
  }
}

@keyframes animal-loader {
  0% {
    left: 0%
  }
  100% {
    left: 110%
  }
}
/*E*/
/*Smenu*/

header,
.btn .btn-top,
.btn .btn-bottom,
.l-btn .l,
.l-btn .r,
.l-btn .m,
.l-btn .btn-bottom,
.info-popup .pin,
.c-btn-icon {
  background-image: url(../images/menu/sprite-ui.png);
  background-size: 443px 600px;
  background-repeat: no-repeat;
  z-index: 8
}

.btn {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden
}

.btn .btn-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  background-position: 0 0
}

.btn .btn-bottom {
  position: absolute;
  top: 0;
  left: 1px;
  width: 32px;
  height: 70px;
  background-position: -1px -36px
}

.btn-home .btn-top {
  background-position: -186px -73px
}

.btn-menu .btn-top {
  background-position: 0 0
}

.btn-close .btn-top {
  background-position: -186px -37px
}

.btn-close-small .btn-top {
  background-position: -222px -37px
}

.btn-email .btn-top {
  background-position: -150px -37px
}

header {
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  height: 0;
}

header .shift {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0
}

header .options {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 0
}

header .options .options-left {
  float: left
}

header .options .menu-status-option {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-right: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1
}

header .options .menu-status-option .statuses {
  position: absolute;
  top: 0;
  left: 0
}

header .options .menu-status-option .status {
  position: absolute;
  top: 0;
  left: 0
}

header .options .menu-status-option .status-close {
  left: -35px
}

header .options .home-status {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 35px;
  height: 35px;
  overflow: hidden
}

header .options .home-status .home-display {
  position: absolute;
  top: 0;
  left: 0
}

.reduced header .options {
  top: 15px;
  left: 15px;
  right: 15px
}

header .nav-options {
  position: relative;
  text-align: center;
  margin-left: 110px;
  margin-right: 70px;
  padding-top: 20px;
  padding-bottom: 14px
}

.reduced header .nav-options {
  padding-top: 15px;
  padding-bottom: 9px;
  text-align: left;
  margin-left: 100px;
  margin-right: 20px
}

header .nav-options li {
  display: inline-block;
  *display: inline;
  zoom: 1
}

.l-btn {
  position: relative;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  font-size: 1.1em;
  color: #FFF;
  text-decoration: none;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 6px;
  font-family: "lato";
  cursor: pointer
}

.l-btn .btn-bottom {
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  height: 70px;
  background-position: -1px -242px
}

.l-btn .l {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 35px;
  background-position: 0 -206px
}

.l-btn .m {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  height: 35px;
  background-position: -2px -206px
}

.l-btn .r {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 35px;
  background-position: -196px -206px
}

.l-btn .t {
  position: relative;
  line-height: 35px;
  padding: 0 10px
}

.l-btn.disabled {
  cursor: default
}

.l-btn.disabled .btn-bottom {
  visibility: hidden
}

header .nav-options li.active .l-btn {
  color: #49b2ff;
}

header .nav-options li.active .l-btn .btn-bottom {
  background-position: -251px -242px;
}

header .nav-options li.active .l-btn .l {
  background-position: -198px -206px;
}

header .nav-options li.active .l-btn .m {
  background-position: -280px -206px
}

header .nav-options li.active .l-btn .r {
  background-position: -398px -206px
}

header .header-nav {
  position: absolute;
  min-height: 75px;
  height: 75px;
  left: 0;
  width: 100%;
  top: 100%;
  display: none
}

header .header-nav .display {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 20px;
  margin-top: -20px;
  width: 100%;
  min-height: 100%
}

header .nav-base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8A8A8A;
  opacity: 0.3
}
/*E*/
/*Sscreen*/

.screen {
  height: 100%;
  width: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
  background: #2d2d2d;
}

.screen .title {
  font-family: 'lato', 'Hiragino Sans GB', 'Microsoft Yahei';
  font-size: 7em;
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
}

.screen .title .text {
  visibility: hidden;
}
/*E*/
/*SscreenA*/

.logo-wrap .fish,
.nimbus .v-dsp,
.cloud .display,
.fish-element .fish,
.vessel .v-dsp2,
.vessel .v-dsp {
  background-image: url(../images/screenA/petenottage.png);
  background-size: 857px 781px;
  background-repeat: no-repeat;
}
/*Nlogo*/

.screenA .logo-wrap .logo {
  position: absolute;
  top: 17%;
  left: 50%;
  margin-left: -115px;
  opacity: 0;
  width: 230px;
  height: 122px;
}

.screenA .logo-wrap .logo.animate {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.screenA .logo-wrap .logo-fish {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2
}

.screenA .logo-wrap .logo-fan {
  width: 100%;
  height: 100%;
  position: absolute;
}

.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
  }
}

.screenA .logo-wrap .logo-fan.animate {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.screenA .logo-wrap .fish {
  -webkit-transition: 2s ease-out;
  transition: 2s ease-out;
  transform: rotate(-90deg) translateX(0px) translateY(0px);
  -webkit-transform: rotate(-90deg) translateX(0px) translateY(0px);
  position: absolute;
  width: 112px;
  height: 74px;
  margin-left: -56px;
  background-position: -376px -157px;
  top: 50%;
  left: 20%;
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.screenA .logo-wrap .fish.active {
  top: 19%;
  left: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(0px) translateY(0px);
  -webkit-transform: rotate(0deg) translateX(0px) translateY(0px);
}
/*Nupper-part*/

.screenA .upper-part {
  width: 100%;
  height: 30%;
}

.screenA .upper-part .nimbus {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 40%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.screenA .upper-part .nimbus .v-ot {
  width: 100%;
  position: absolute;
  bottom: 48%;
  left: -62px;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d
}

.screenA .upper-part .nimbus .v-dsp {
  position: absolute;
  bottom: 0;
  left: -31px;
  width: 62px;
  height: 46px;
  background-position: -488px -45px;
}

.nimbus-move {
  -webkit-animation-name: nimbus-move;
  -webkit-animation-duration: 16s;
  animation-name: nimbus-move;
  animation-duration: 16s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes nimbus-move {
  0% {
    left: 0%
  }
  95% {
    left: -36%
  }
  100% {
    left: 0%
  }
}

@-moz-keyframes nimbus-move {
  0% {
    left: 0%
  }
  95% {
    left: -36%
  }
  100% {
    left: 0%
  }
}

@keyframes nimbus-move {
  0% {
    left: 0%
  }
  95% {
    left: -36%
  }
  100% {
    left: 0%
  }
}

.upper-part .nimbus .cloud {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
}

.upper-part .nimbus .cloud .display {
  position: absolute;
}
/*Nfishing*/

.screenA .fishing {
  position: absolute;
  top: 32%;
  left: 0;
  width: 100%;
  height: 20%
}

.screenA .fishing .fish-element {
  position: absolute;
  top: 0;
  left: 200px;
  width: 350px;
  height: 150px;
  overflow: hidden
}

.screenA .fishing .fish-element .center {
  position: absolute;
  top: 300px;
  left: 50%;
  width: 0;
  height: 0
}

.screenA .fishing .fish-element .spin {
  position: absolute;
  top: 0;
  left: 0
}

.screenA .fishing .fish-element .fish-dsp {
  position: absolute;
  top: -190px;
  left: 0
}

.screenA .fishing .fish-element .fish {
  position: absolute;
}
/*Nvessel*/

.screenA .vessel {
  position: absolute;
  top: 7%;
  left: -90px;
  width: 100%;
}

.screenA #vessel-2 {
  left: -150px;
}

.screenA .vessel .v-ot {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d
}

.screenA .vessel .v-dsp {
  width: 90px;
  height: 55px;
  position: absolute;
  background-position: -346px -45px;
  bottom: 0;
  left: 0
}

.screenA .vessel .v-dsp2 {
  width: 50px;
  height: 52px;
  position: absolute;
  background-position: -437px -98px;
  bottom: 0;
  left: 0
}
/*Nparallax*/

.screenA .parallax-viewport {
  position: relative;
  top: 70%;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.screenA .parallax-layer {
  position: absolute;
  width: 2500px;
  height: 90%;
  opacity: 0.7;
}

.screenA .waveA {
  background: url(../images/screenA/waveA.png) no-repeat;
  z-index: 3;
  text-align: center;
}

.screenA .waveA .text {
  font-family: "lato";
  font-size: 4em;
  color: rgba(173, 173, 173, 0.9);
  left: 50%;
  position: absolute;
  -webkit-background-clip: text;
  text-shadow: 0 0px 1px rgba(0, 0, 255, .1);
  visibility: hidden;
}

.screenA .waveA .textA {
  bottom: 60%;
  margin-left: -3.5em;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.screenA .waveA .textA .word1 > .char1 {
  color: #a61111;
}

.screenA .waveA .textA .word1 > .char2 {
  color: #d0ce02;
}

.screenA .waveA .textA .word1 > .char3 {
  color: #30c402;
}

.screenA .waveA .textA .word1 > .char4 {
  color: #0702c4;
}

.screenA .waveA .textA .word1 > .char1.active .word1 .char1,
.screenA .waveA .textA .word1 > .char2.active .word1 .char1,
.screenA .waveA .textA .word1 > .char3.active .word1 .char1,
.screenA .waveA .textA .word1 > .char4.active .word1 .char1 {
  color: rgba(173, 173, 173, 0.9) !important;
}

.screenA .waveA .textA .word3 {
  font-size: 22px;
  vertical-align: top;
}

.screenA .waveA .textB {
  bottom: 40%;
  margin-left: -1em;
}

.screenA .waveA .textC {
  bottom: 20%;
  margin-left: -4.2em;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.screenA .waveA .bubble {
  width: 2500px;
  height: 80%;
  top: 15%;
  position: absolute;
  z-index: -1;
  background: url(../images/screenA/textbg.png);
}

.screenA .waveB {
  background: url(../images/screenA/waveB.png) no-repeat;
  z-index: 2
}

.screenA .waveC {
  background: url(../images/screenA/waveC.png) no-repeat;
  z-index: 1
}
/*E*/
/*SscreenB*/

.screenB .bg {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  /*    transform:scale(3);
    -webkit-transform:scale(3);  */
}

.screenB .bg .bg-gap {
  position: absolute;
  z-index: 4;
  opacity: 0;
  bottom: -50%;
  width: 100%;
}

.screenB .bg .bg-sea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/screenB/bg-sea.png);
  z-index: 3;
  opacity: 0;
}

.screenB .bg .bg-sea2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/screenB/bg-sea2.png);
  z-index: 3;
  opacity: 0;
}

.screenB .bg .bg-gray {
  position: absolute;
  width: 100%;
  height: 140%;
  background: url(../images/screenB/bg-gray.jpg);
  z-index: 1;
}

.screenB .bg-breath {
  -webkit-animation-name: bg-breath;
  -webkit-animation-duration: 20s;
  animation-name: bg-breath;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes bg-breath {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  33% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  66% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

@keyframes bg-breath {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  33% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  66% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

.screenB .bg-breath2 {
  -webkit-animation-name: bg-breath2;
  -webkit-animation-duration: 20s;
  animation-name: bg-breath2;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes bg-breath2 {
  0% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  33% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  66% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@keyframes bg-breath2 {
  0% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
  33% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  66% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

.screenB .bg-move {
  -webkit-animation-name: bg-move;
  -webkit-animation-duration: 20s;
  animation-name: bg-move;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bg-move {
  0% {
    top: 0%;
  }
  33% {
    top: 0px;
  }
  35% {
    top: -400px;
  }
  64% {
    top: -400px;
  }
  66% {
    top: 0px;
  }
  100% {
    top: 0%;
  }
}

@keyframes bg-move {
  0% {
    top: 0%;
  }
  33% {
    top: 0px;
  }
  35% {
    top: -400px;
  }
  64% {
    top: -400px;
  }
  66% {
    top: 0px;
  }
  100% {
    top: 0%;
  }
}
/*Npeople*/

.screenB .tv-line {
  width: 5px;
  height: 45px;
  top: -45px;
  background: rgba(0, 0, 0, .6);
  position: absolute;
}

.screenB .line1 {
  left: 30px;
}

.screenB .line2 {
  right: 30px;
}

.screenB .profile-card {
  position: absolute;
  left: 50%;
  margin-left: -550px;
  top: -345px;
  z-index: 5;
}

.screenB .card-info {
  width: 290px;
  height: 170px;
  background: rgba(0, 0, 0, .6);
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.screenB .card-info ul {
  background: #202427 url(../images/screenB/portrait.png);
  padding: 9px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}

.screenB .card-info li {
  margin-bottom: 8px;
  padding-left: 5px;
  line-height: 16px;
  color: #c9c9c9;
  opacity: 0;
}

.screenB .card-info li.last {
  margin-bottom: 0px;
}

.screenB .card-info .label {
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  color: #c9c9c9;
  background: #225480;
  width: 90px;
  padding: 3px 0 3px 10px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.screenB .card-info span {
  float: left;
  display: block;
  padding: 3px 0 3px 3px;
  line-height: 16px;
  font-size: 12px;
}

.screenB .tvshow {
  position: absolute;
  left: 50%;
  margin-left: 250px;
  top: -345px;
  z-index: 5;
}

.screenB .tvshow .show-content {
  width: 280px;
  height: 160px;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background: rgba(0, 0, 0, .6);
  position: relative;
}

.screenB .tvshow .show-content .picture {
  width: 280px;
  height: 160px;
  position: absolute;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.screenB .tvshow .show-content .audiobar {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 280px;
  z-index: 3
}

.screenB .people-wrap {
  position: absolute;
  width: 34%;
  height: 90%;
  bottom: -90%;
  left: 20%;
  margin-left: -18%;
  z-index: 2;
  transform: scale(0.4);
  -webkit-transform: scale(0.4);
}

.screenB .people-wrap img {
  position: absolute;
  width: 100%;
}

.screenB .people-wrap .steve-jobs {
  z-index: 4;
  display: none;
  -webkit-animation: l-in .6s ease-in-out .1s 1 forwards;
}

@-webkit-keyframes 'l-in' {
  0% {
    opacity: 0;
    -webkit-transform: translate(0px, 50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
}

.screenB .people-wrap .senses {
  z-index: 4;
  display: none;
}

.screenB .people-wrap .people-low-poly {
  z-index: 3;
  opacity: 0.6;
  display: none;
}

.screenB .people-wrap .people-blue {
  z-index: 5;
}

.screenB .people-wrap .people {
  z-index: 1;
}
/*E*/
/*SscreenC*/

.screenC .bg {
  position: absolute;
  background: url(../images/screenC/bg.png) top left;
  width: 55%;
  height: 100%;
  opacity: 0;
  right: -50%;
  z-index: 3;
}

.screenC .coding {
  width: 960px;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -480px;
  overflow: hidden;
}

.screenC .code-area {
  width: 960px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  font-family: monospace;
  color: #00ff00;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

.screenC .code-area div {
  position: absolute;
  overflow: hidden;
  width: 977px;
  padding: 8px 10px;
  top: 0;
  left: 0;
  transition: all 2s;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
}

.screenC .code-area .a {
  display: none;
}

.screenC .code-area .b.active {
  color: #005100;
  text-shadow: 0 0 5px rgba(0, 255, 0, .6);
  z-index: 2
}

.screenC .code-area .b.active2 {
  color: #0567BE;
  text-shadow: 0 0 5px rgba(0, 194, 255, 1);
}

.screenC .code-area .b span.active {
  padding: 5px 0;
  position: relative;
  text-shadow: none;
  color: #00ff00;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.screenC .code-area .b span.active2 {
  padding: 5px 0;
  position: relative;
  text-shadow: none;
  color: #69E1FF;
}

.screenC .code-area .c {
  background: url(../images/screenC/scanlines-inverted.png) repeat scroll top left;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1
}

.screenC .design {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 4;
  right: 0;
  top: 1%;
}

.screenC .design .design-title {
  font-family: "lato";
  font-size: 4em;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -600px;
  color: #333;
  z-index: 5;
  opacity: 0;
}

.screenC .design .design-title span {
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  padding-bottom: 36px;
  border-bottom: 0px #333333 dashed;
}

.screenC .design .chart-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.screenC .design .chart {
  position: absolute;
  left: 50%;
  top: 62%;
  display: none;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.screenC .design .chart.chart-interactive {
  margin-left: -75px;
  margin-top: -210px;
}

.screenC .design .chart.chart-architect {
  margin-left: -75px;
  margin-top: -210px;
}

.screenC .design .chart.chart-userinterface {
  margin-left: -75px;
  margin-top: -210px;
}

.screenC .design .chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.screenC .design .percent {
  height: 150px;
  line-height: 150px;
}

.screenC .design .percent,
.screenC .design .label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 1.4em;
  margin-bottom: 0.3em;
  width: 150px;
  display: none;
  font-family: "lato";
}

.screenC .design .percent:after {
  content: '%';
  font-size: 1em;
}
/*E*/
/*SscreenD*/

.works-gallery {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1
}

.works-gallery nav a {
  width: 100%;
  position: absolute;
  display: block;
  z-index: 4;
  overflow: hidden;
  opacity: 0;
  height: 0;
  /*    -moz-transition:all 0.5s ease-in;
    -webkit-transition:all 0.5s ease-in;
    transition:all 0.5s ease-in;*/
}

.works-gallery nav a img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-filter: blur(8px);
}

.works-gallery nav a .content {
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -183px;
  width: 366px;
  height: 320px;
  position: absolute;
  opacity: 0;
  font-family: lato;
  font-weight: 700;
}

.works-gallery nav a .content .ctitle {
  left: 0;
  top: 20px;
  width: 366px;
  height: 54px;
  font-size: 40px;
  letter-spacing: 2px;
  position: absolute;
  display: block;
  opacity: 0;
  text-align: center;
  color: #ffffff;
}

.works-gallery nav a .content .line {
  left: 0;
  top: 55px;
  width: 366px;
  height: 1px;
  background: #FFF;
  position: absolute;
  display: block;
  opacity: 0
}

.works-gallery nav a .content .year {
  left: 0;
  top: 38px;
  font-size: 20px;
  width: 100%;
  color: #FFF;
  position: absolute;
  display: block;
  text-align: center;
  opacity: 0;
  letter-spacing: 1px;
}

.works-gallery nav a .content .ico {
  left: 0;
  top: 230px;
  width: 366px;
  height: 145px;
  background: url(../images/screenD/white_sprites.png) 0 -100px no-repeat;
  position: absolute;
  display: block;
  opacity: 0
}

.works-gallery nav a.MouThing {
  left: 0;
  background: #013b58;
}

.works-gallery nav a.MouThing .line {
  left: 76px;
  width: 210px
}

.works-gallery nav a.MouThing .ico {
  left: 121px;
  top: 190px;
  width: 124px;
  background-position: 0 -100px
}

.works-gallery nav a.PlayLife {
  left: 25%;
  background: #01476b;
  cursor: url(../images/screenD/disable.png), pointer;
}

.works-gallery nav a.PlayLife .line {
  left: 96px;
  width: 174px
}

.works-gallery nav a.PlayLife .ico {
  left: 122px;
  top: 190px;
  width: 126px;
  background-position: -371px -100px
}

.works-gallery nav a.Infloor {
  left: 50%;
  background: #005682
}

.works-gallery nav a.Infloor .line {
  left: 60px;
  width: 244px;
}

.works-gallery nav a.Infloor .ico {
  left: 115px;
  top: 210px;
  width: 137px;
  background-position: -125px -100px
}

.works-gallery nav a.DotaWind {
  left: 75%;
  background: #006396
}

.works-gallery nav a.DotaWind .line {
  left: 75px;
  width: 216px
}

.works-gallery nav a.DotaWind .ico {
  left: 82px;
  top: 210px;
  width: 202px;
  background-position: -497px -100px
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%
}
/*E*/
/*SscreenE*/

.screenE .bg {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}

.screenE .bg .bg-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: url(../images/screenE/bg-mask.jpg);
  background-size: 100%;
}

.screenE .bg .bg-sea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/screenE/bg-sea.jpg);
  z-index: 5;
  opacity: 0.8;
  background-size: 100%;
  display: none;
}

.screenE .bg .bg-sea.bg-scale {
  -webkit-animation-name: bg-scale;
  animation-name: bg-scale;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bg-scale {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes bg-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.screenE .contact-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.screenE .contact-bg.bg1 {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 874px;
  height: 842px;
  margin: -421px 0 0 -437px;
  background: url(../images/screenE/contact-bg1.png) no-repeat center center;
  -webkit-animation-name: rotateThis1;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis1 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.screenE .contact-bg.bg2 {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 874px;
  height: 842px;
  margin: -421px 0 0 -437px;
  background: url(../images/screenE/contact-bg2.png) no-repeat center center;
  -webkit-animation-name: rotateThis2;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

.screenE .contact-box {
  display: none;
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  width: 626px;
  height: 396px;
  margin: -198px 0 0 -313px;
}

.screenE .contact-box .days {
  color: #6C1717;
}

.screenE .contact-box .available {
  color: #006350;
}

.screenE .contact-box .available i,
.screenE .contact-box .days i {
  padding-right: 3px;
}

.screenE .contact-box h3 {
  font-family: lato, Arial, Verdana, sans-serif;
  color: #202020;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(255, 255, 255, 0.4) 1px 1px 2px;
  text-transform: uppercase;
  letter-spacing: 20px;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

.screenE .contact-box p {
  font-family: lato, Arial, Verdana, sans-serif;
  color: #202020;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(255, 255, 255, 0.4) 1px 1px 2px;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.screenE .contact-box a {
  font-family: lato, Arial, Verdana, sans-serif;
  color: #202020;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(255, 255, 255, 0.4) 1px 1px 2px;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid rgba(32, 32, 32, 0.32);
  text-decoration: none;
}

.screenE .contact-icon {
  padding-left: 100px;
}

.screenE .contact-icon .item {
  text-align: center;
  width: 100px;
  height: 100px;
  border: 4px solid #333;
  color: #333;
  background: transparent;
  border-radius: 100%;
  line-height: 120px;
  margin-right: 50px;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(255, 255, 255, 0.4) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px, rgba(255, 255, 255, 0.4) 1px 1px 2px;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}

.screenE .contact-icon .item:hover {
  border: 4px solid #146fc0;
  color: #146fc0;
}

.screenE .contact-icon .item i {
  font-size: 48px;
}
/*E*/
