extends layouts/default

block variables
  - var bodyClass = 'page-index'

block content
  if site.posts.length > 0
  .articles-thread
    include ./includes/article
    each post in site.posts.sort('date', -1).limit(config.per_page).toArray()
      +article-item(post)

  //- include includes/pagination
